body {
    font-family: Cursive, sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
     background-image: url("https://i.pinimg.com/736x/e0/28/7b/e0287b2e47bc1b3ef0fa009abb8ac2b3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
        
}

h1 {
    color: #2c3e50;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}
img:hover {
        transform: scale(1.05);
        transition: transform 0.5s ease;
        }